<div class="container">
  <div class="row justify-content-center">
    <div class="w-75">
      <%= form_with model: @question do |f| %>
        <div class="row mt-5">
          <div class="col-lg-3">
            <%= f.label :title %>
          </div>
          <div class="col-lg-8 offset-1 pl-0 pr-0">
            <%= f.text_field :title, placeholder: "タイトル", class: "w-100" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3">
            <%= f.label :content %>
          </div>
          <div class="col-lg-8 offset-1 pl-0 pr-0">
            <%= f.text_area :content, placeholder: "内容", class: "w-100" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3">
            <%= f.label :attachments_file %>
          </div>
          <div class="col-lg-8 offset-1 pl-0 pr-0">
            <%= f.file_field :attachments_file, accept: "image/*, audio/*" %>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-6 col-lg-6 text-right mt-4 pr-0">
            <%= f.submit 'Post' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
