<div class="row">
  <div class="col-lg-12 mt-3">
    <div class="card">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <% if @question.user == current_user %>
              <div class="col-lg-8">
                <p>Title</p>
                <h3 class="ml-3"><%= question.title %></h3>
              </div>
              <div class="col-lg-4 text-right">
                <%= link_to 'Edit', edit_question_path(question), class: "btn btn-primary" %>
                <%= link_to 'Delete', question_path(question), method: :delete, "data-confirm" => "削除しますか？", class: "btn btn-danger"%> 
              </div>
            <% else %>
              <div class="col-lg-12">
                <p>Title</p>
                <h3 class="ml-3"><%= question.title %></h3>
              </div>
            <% end %>
          </div>
          <p class="pr-3 pl-3"><hr /></p>
          <%= link_to user_path(question.user.id), class: "text-dark" do  %>
            <div><%= image_tag question.user.get_profile_image(50, 50), class: "rounded-circle border" %> <%= question.user.name %></div>
          <% end %>
        <div class="sub_text"><%= @question.created_at.strftime('%Y/%m/%d') %></div>
        </div>
        <p class="card-text">
          <p>Content</p>
          <p class="text__long ml-3"><%= question.content %></p>
          <div class="attachments_file">
            <!--selfにすることによってこのview自体（全体）を渡している-->
            <%= question.attachments_type?(self) %>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
