<div class="container">
 <div class="row">
   <% @comments.each do |comment| %> <br />
    <div class="col-2">
    <% if comment.user.guest_user? %>
     <%= image_tag comment.user.get_profile_image(50, 50), class: "rounded-circle" %>
     <%= comment.user.name %>
    <% else %>
     <%= link_to admin_user_path(comment.user.id), class: "text-dark" do %>
      <%= image_tag comment.user.get_profile_image(50, 50), class: "rounded-circle" %>
      <div>
       <%= comment.user.name %>
      </div>
     <% end %>
    <% end %>
  </div>
    <div class="col-9">
     <%= comment.content %>
    </div>
    <div class="col-1">
     <div class="dropend">
       <div class="dropend-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <i class="fa-solid fa-ellipsis"></i>
       </div>
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
         <%= link_to "削除", admin_work_comment_path(comment.work, comment), method: :delete, "data-confirm" => "削除しますか？", class: 'text-dark' %>
       </div>
     </div>
    </div>
   <% end %>