<div class="d-flex justify-content-center">
  <h1 class="page_title">All Works</h1>
</div>
<div class="container">
  <div class="row">
   <% @works.each do |work| %>
    <div class="text-center mb-5 col-lg-2">
      <%= link_to work_path(work.id), class: "text-dark" do %>
        <div class="card">
          <div class="card-body">
            <i class="fa-solid fa-music fa-3x m-2"></i>
            <h5 class="card-title text-truncate"><%= work.title %></h5>
            <p class="card-text text-truncate"><%= work.introduction %></p>
          </div>
        </div>
      <% end %>
      <%= link_to user_path(work.user.id), class: "text-dark" do %>
        <p><%= image_tag work.user.get_profile_image(50, 50), class: "rounded-circle" %><%= work.user.name %></p>
      <% end %>
    </div>
   <% end %>
  </div>
  <%= paginate @works %>
</div>