<div class="d-flex justify-content-center">
  <h1 class="page_title">Work Post</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="w-75">
      <%= form_with model: @work do |f| %>
        <div class="row">
          <div class="col-lg-3">
            <%= f.label :music_file %>
          </div>
          <div class="col-lg-6 offset-3 pl-0 pr-0">
            <%= f.file_field :music_file, accept: "audio/*" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3">
            <%= f.label :title %>
          </div>
          <div class="col-lg-6 offset-3 pl-0 pr-0">
            <%= f.text_field :title, placeholder: "タイトル", class: "w-100" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3">
            <%= f.label :introduction %>
          </div>
          <div class="col-lg-6 offset-3 pl-0 pr-0">
            <%= f.text_area :introduction, placeholder: "説明文", class: "w-100" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3">
            <%= f.label :tag_name %>
          </div>
          <div class="col-lg-6 offset-3 pl-0 pr-0">
            <%= f.text_field :tag_name, id:'tag_ids', :size=>"50", placeholder: "タグをつける。複数つけるには' , 'で区切ってください。", class: "w-100" %>
          </div>
        </div>
        <div class="row">
          <div class="offset-lg-6 col-lg-6 text-right mt-4 pr-0">
            <%= f.submit 'Post' %>
          </div>
        </div>
        <% end %>
    </div>
  </div>
</div>