<%= render partial: 'layouts/error_messages', locals: { object: @comment } %>
<% if @work.user == current_user %>
  <div class="d-flex justify-content-between">
    <div class="dropdown col-2 pl-0">
      <div class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        投稿者MENU
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to "作品の編集", edit_work_path(@work), class: 'nav-link text-dark' %>
        <%= link_to "作品の削除", work_path(@work), method: :delete, "data-confirm" => "削除しますか？", class: 'nav-link text-dark' %>
      </div>
    </div>
    <h1 class="page_title col-2 text-center">Work Detail</h1>
    <h1 class="col-2"></h1>
  </div>
<% else %>
  <div class="d-flex justify-content-center">
    <h1 class="page_title">Work Detail</h1>
  </div>
<% end %>

<div class="container">
  <div class="row justify-content-center">
    <div class="w-75">
      <%= render "info", work: @work %>
      <hr />
      <p></p>
      <%= render 'comments/form' %>
      <p></p>
      <%= render 'comments/index' %>
    </div>
  </div>
</div>
