<table class='table w-75 '>
  <thead>
    <tr>
      <th>Group Image</th>
      <th>Title</th>
      <th>Introduction</th>
      <th>Members</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group, membership| %>
      <tr>
        <td><%= image_tag group.get_image(90, 90), class: "border" %></td>
        <td><%= group.title %></td>
        <td class="introduction_hidden text_long pb-0"><%= group.introduction %></td>
        <td><%= group.memberships.count %></td>
        <div class='membership-<%= membership.user.id %>'>
          <!--上記の時点ではuserがnilなのでエラーとなる-->
          <%= render 'memberships/btn', membership: membership %>
        </div>
      </tr>
    <% end %>
  </tbody>
</table>