<%= render partial: 'layouts/error_messages', locals: { object: @user } %>
<div class="d-flex justify-content-center">
  <h1 class="page_title">Profile Edit</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="w-75">
      <%= form_with model: @user do |f| %>
        <div class="row mt-5">
          <div class="col-lg-3 offset-lg-3">
            <%= f.label :name %>
          </div>
          <div class="col-lg-6 pl-0 pr-0">
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class:"w-100" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3 offset-lg-3">
            <%= f.label :introduction %>
          </div>
          <div class="col-lg-6 pl-0 pr-0">
            <%= f.text_area :introduction, class: "w-100" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-3 offset-lg-3">
            <%= f.label :profile_image %>
          </div>
          <div class="col-lg-6 pl-0 pr-0">
            <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>
          </div>
        </div>
        <div class="row mt-5">
          <div class="offset-lg-6 col-lg-6 text-right mt-4 pr-0">
            <%= f.submit "Save Changes" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>