<div class="row">
  <% @other_answers.each do |answer| %>
    <div class="col-12">
      <div class="card mb-5">
        <div class="card-body">
          <h6 class="card-title">
            <div class="row">
              <div class="col-8">
                <%= link_to user_path(answer.user.id), class: "text-dark" do  %>
                  <div><%= image_tag answer.user.get_profile_image(50, 50), class: "rounded-circle border" %> <%= answer.user.name %></div>
                <% end %>
              </div>
              <% if @question.user == current_user %>
                <div class="col-4 text-right">
                  <% if answer.is_best_answer == false %>
                    <%= link_to "Best Select", question_answer_best_path(@question, answer), method: :patch, "data-confirm" => "ベストアンサーにしますか？", class: "btn btn-primary" %>
                  <% end %>
                </div>
              <% end %>
              <% if answer.user == current_user %>
                <div class="col-4 text-right">
                  <div class="dropend">
                    <div class="dropend-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fa-solid fa-ellipsis"></i>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <%= link_to "削除", question_answer_path(answer.question, answer), method: :delete, "data-confirm" => "削除しますか？", class: 'text-dark' %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="sub_text"><%= answer.created_at.strftime('%Y/%m/%d') %></div>
          </h6>
          <p class="card-text　text_long"><%= answer.content %></p>
          <div class="attachments_file">
            <% if answer.attachments_file.attached? %>
              <%
                tmp_file_url = rails_blob_path(answer.attachments_file)
                check_ext = File.extname(tmp_file_url).downcase
                
                # 音声として許可する拡張子
                audio_ext_list = [
                  '.wav',
                  '.mp3'
                ]
              %>
              
              <%# 音声 %>
              <% if audio_ext_list.include?(check_ext) %>
                <p><%= audio_tag(polymorphic_path(answer.attachments_file), controls: true) %></p>
              <% else %>
                <%# 画像 %>
                <p><%= image_tag(polymorphic_path(answer.attachments_file), controls: true) %></p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

