<div class="row">
  <div class="col-12">
    <div class="card mb-5">
      <div class="card-body">
        <h6 class="card-title">
          <div class="row">
            <div class="col-8">
              <%= link_to user_path(@best_answer.user.id), class: "text-dark" do  %>
                <div><%= image_tag @best_answer.user.get_profile_image(50, 50), class: "rounded-circle border" %> <%= @best_answer.user.name %></div>
              <% end %>
            </div>
            <div class="col-1 offset-3">
              <div class="dropend">
                <div class="dropend-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa-solid fa-ellipsis"></i>
                </div>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <%= link_to "削除", admin_question_answer_path(@best_answer.question, @best_answer), method: :delete, "data-confirm" => "削除しますか？", class: 'text-dark' %>
                </div>
              </div>
            </div>
          </div>
          <div class="sub_text"><%= @best_answer.created_at.strftime('%Y/%m/%d') %></div>
        </h6>
        <p class="card-text　text__long"><%= @best_answer.content %></p>
        <div class="attachments_file">
            <% if answer.attachments_file.attached? %>
              <%
                tmp_file_url = rails_blob_path(@best_answer.attachments_file)
                check_ext = File.extname(tmp_file_url).downcase
                
                # 音声として許可する拡張子
                audio_ext_list = [
                  '.wav',
                  '.mp3'
                ]
              %>
              
              <%# 音声 %>
              <% if audio_ext_list.include?(check_ext) %>
                <p><%= audio_tag(polymorphic_path(@best_answer.attachments_file), controls: true) %></p>
              <% else %>
                <%# 画像 %>
                <p><%= image_tag(polymorphic_path(@best_answer.attachments_file), controls: true) %></p>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>