<div class="d-flex justify-content-between">
  <div class="dropdown col-2 pl-0">
    <div class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      MENU
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <%= link_to "作品の編集", edit_admin_work_path(@work), class: 'nav-link text-dark' %>
      <%= link_to "作品の削除", admin_work_path(@work), method: :delete, "data-confirm" => "削除しますか？", class: 'nav-link text-dark' %>
    </div>
  </div>
  <h1 class="page_title col-2 text-center">Work Detail</h1>
  <h1 class="col-2"></h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="w-75">
      <div class="text-center">
        <p><%= audio_tag(polymorphic_path(@work.music_file), controls: true) %></p>
      </div>
      <p>Title</p>
      <h3><%= @work.title %></h3>
      <hr />
      <%= link_to admin_user_path(@work.user.id), class: "text-dark" do  %>
        <p><%= image_tag @work.user.get_profile_image(100, 100), class: "rounded-circle border" %> <%= @work.user.name %></p>
      <% end %>
      <p>Introduction</p>
      <%= @work.introduction %> <br />
      <p></p>
      <hr />
      <% @work.tags.each do |tag| %>
        <span class="border border-1 rounded-pill tag_view">#<%= tag.tag_name %></span>
      <% end %>
      <p></p>
      <div class="sub_text">
        <p>投稿日：<%= @work.created_at.strftime('%Y/%m/%d') %></p>
      </div>
      <hr />
      <p></p>
      <%= render 'admin/comments/index' %>
    </div>
  </div>
</div>
