<div class="d-flex justify-content-center">
  <h1 class="page_title">新着作品</h1>
</div>
<div class="container">
  <div class="d-flex justify-content-end">
    <%= link_to "もっと見る >>>", works_path, class: "sub_text" %>
  </div>
  <div class="row">
    <% @works.each do |work| %>
    <div class="col-lg-2 text-center text-truncate">
      <%= link_to work_path(work.id), class: "text-dark" do %>
        <strong><%= work.title %></strong>
      <% end %>
      <%= link_to user_path(work.user.id), class: "text-dark" do  %>
        <p><%= image_tag work.user.get_profile_image(50, 50), class: "mt-3 rounded-circle"; %><%= work.user.name %></p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
