<div class="d-flex justify-content-center">
  <h1 class="page_title">All Questions</h1>
</div>
<div class="container-fluid">
  <div class="row justify-content-center">
    <table class='table w-75 '>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Answers</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.title %></td>
        <td class="introduction__hidden text__long pb-0"><%= question.content %></td>
        <td><%= question.answers.count %></td>
        <td><%= link_to 'Show', admin_question_path(question), class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_admin_question_path(question), class: "btn btn-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
  </div>
  <%= paginate @questions %>
</div>