<div class="d-flex justify-content-center">
  <h1 class="page_title">「<%= params[:word] %>」of SearchResult</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <% if @range == "User" %>
      <%= render 'users/index', user: @user %>
      <%= paginate @users_page %>
    <% elsif @range == "Work" %>
      <%= render 'works/index', work: @work %>
      <%= paginate @works_page %>
    <% elsif @range == "Group" %>
      <%= render 'groups/index', group: @group %>
      <%= paginate @groups_page %>
    <% else %>
      <% @tags.each do |tag| %>
        <div class="col-auto">
          <div class="border border-1 rounded-pill tag_view">#<%= link_to tag.tag_name, tag_path(tag), class: "text-dark" %>(<%= tag.works.count %>)</div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>